.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(38, 18, 71);
    border: 1px solid rgb(74, 36, 136);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #a78bfa;
}

.projects-grid-1 {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 40px;
}

.project-1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 500px;
}

.project-image-1 {
    position: relative;
    aspect-ratio: 16 / 9;
    height: 530px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.5);
}

.project-image-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-1:hover .project-image-1 img {
    transform: scale(1.01);
}

.project-information-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    /* base */
    background-image:
        linear-gradient(to right,
            rgba(255, 255, 255, 0.04) 1px,
            transparent 1px),
        linear-gradient(to bottom,
            rgba(255, 255, 255, 0.04) 1px,
            transparent 1px);

    background-size: 70px 70px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 44px;
    z-index: 2;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    min-height: 350px;
    min-width: 700px;
}

.project-number {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 120px;
    font-weight: 900;
    opacity: 1;
    line-height: 1;
    z-index: 0;
    color: #1d1d1d;
}

.project-type {
    position: absolute;
    top: 44px;
    right: 44px;
    font-size: 20px;
    background: rgb(38, 18, 71);
    border: 1px solid rgb(74, 36, 136);
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 800;
    color: #a78bfa;
}

.project-information-1 h3 {
    position: relative;
    z-index: 1;
    font-size: 42px;
    margin: 12px 0;
}


.project-information-1 p {
    font-size: 16px;
    line-height: 1.8;
    opacity: 0.8;
    margin: 20px 0;
}

.project-links {
    display: flex;
    gap: 20px;
}

.project-links svg {
    transition: all 0.3s ease;
}

.project-link-github {
    padding: 4px 8px;
    background: #7c3aed;
    border: 1px solid #7c3aed;
    color: #ffffff;
}

.project-link-demo {
    padding: 4px 10px;
    background: #ffffff;
    border: 1px solid #8b8b8b;
    color: #111;
}

.project-link-github,
.project-link-demo {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.project-link-github svg {
    fill: #ffffff;
}

.project-link-demo svg {
    fill: #111;
}

.project-link-github:hover {
    background: #9d4edd;
    border-color: #9d4edd;
    color: #ffffff;
}

.project-link-github:hover svg {
    fill: #ffffff;
}

.project-link-demo:hover {
    background: #cdb0ff;
    border-color: #9d4edd;
    color: #9d4edd;
}

.project-link-demo:hover svg {
    fill: #9d4edd;
}