.soft-skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-primary);
    height: 180px;
    max-width: 350px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    transition: all .3s ease;
}

.soft-skills-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
}

.soft-skills-card-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.soft-skills-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding: 10px;
    background: var(--text-primary);
    border-radius: 50%;
}

.soft-skills-card-icon svg {
    height: 29px;
    width: 29px;
    fill: var(--text-oposite);
}

.soft-skills-card-title {
    font-size: 20px;
    color: var(--text-primary);
    margin: 0;
}

.soft-skills-description-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.soft-skills-description {
    color: var(--text-secondary);
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
}