.header-pill {
  position: sticky;
  top: 20px;
  margin: 0 auto;
  padding: 10px 40px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  gap: 1rem;
  transition: all 0.3s ease, max-width 0.3s ease;
  z-index: 10;
}

.header-pill.scrolled {
  background: #0000001e;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 99px;
  border: 1px solid #271e3754;
  max-width: 750px;
}

.name-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.name {
  gap: 0.5rem;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: all 0.3s ease;
}

.header-pill.scrolled .name {
  font-size: 18px;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 500;
  color: #f5f5f5;
  background: transparent;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all 0.3s ease;
  appearance: none;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.header-pill.scrolled nav button {
  font-size: 15px;
}

.header-pill .header-link {
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
}

.header-pill.scrolled .header-link {
  height: 25px;
  width: 25px;
}