.background-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100dvh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.content {
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  text-align: center;
  height: 95dvh;
  width: 75%;
  margin: 0 auto;
  scroll-margin-top: 100px;
}

.index-main-content {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-bottom: 100px;
  justify-content: space-between;
  width: 100%;
}

.avatar-content {
  display: flex;
  position: relative;
}

.floating-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  background: var(--text-primary);
  border: 2px solid var(--text-secondary);
  color: var(--text-oposite);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  font-family: monospace;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.floating-icon:hover {
  transform: scale(1.1);
  border-color: var(--text-primary);
  box-shadow: var(--box-shadow-hover-floating-icon);
  z-index: 20;
}

.icon-1 {
  top: 10%;
  left: -12%;
  transform: translateX(-50%);
  animation: float 3s ease-in-out infinite;
}

.icon-2 {
  top: 0;
  right: -10%;
  animation: float 3.5s ease-in-out infinite;
}

.icon-3 {
  bottom: -5%;
  left: -2%;
  transform: translateX(-50%);
  animation: float 3.9s ease-in-out infinite;
}

.icon-4 {
  bottom: 5%;
  right: -2%;
  transform: translateY(-50%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.avatar-wrapper {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: 8px solid var(--text-primary);
  overflow: hidden;
  margin: auto 80px auto 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color .4s ease;
  box-shadow: 0 6px 30px rgba(100, 100, 100, 0.6);
}

.avatar-wrapper:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-hover-avatar);
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.icon-btn {
  margin-right: 10px;
}

.btn-primary {
  display: flex;
  align-items: center;
  background-color: var(--bg-btn-primary);
  color: var(--text-primary);
  border: 1px solid var(--bg-btn-primary);
  padding: 13px 22px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

.btn-secondary {
  display: flex;
  align-items: center;
  background-color: var(--bg-btn-secondary);
  color: var(--text-oposite);
  border: none;
  padding: 13px 22px;
  border: 1px solid var(--bg-btn-secondary);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--bg-btn-primary-hover);
  border: 1px solid var(--bg-btn-primary-hover);
  transform: translateY(-3px);
}

.btn-secondary:hover {
  background-color: var(--text-oposite);
  border: 1px solid var(--text-oposite);
  transform: translateY(-3px);
  color: var(--text-primary);
}

.social-contact {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.social-icon {
  fill: var(--text-primary);
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 50%;
}

.title,
.sub-title {
  color: var(--text-primary);
  margin: 0;
}

.title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 16px;
}

.sub-title {
  font-size: 30px;
  color: var(--text-secondary);
  font-weight: 700;
}

.description-content {
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  color: var(--text-secondary);
  max-width: 70%;
  line-height: 1.6;
}

.span-text {
  color: var(--text-primary);
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.slider-wrapper {
  width: 100%;
  margin-top: 40px;

  mask-image: linear-gradient(to right,
      transparent 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      transparent 100%);
  -webkit-mask-image: linear-gradient(to right,
      transparent 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      transparent 100%);
}

.scrolldown-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolldown-btn {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px 5px 10px 5px;
}

.scrolldown-img {
  width: 40px;
  height: auto;
  color: var(--text-primary);
  animation: bounce 1.8s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(6px);
  }
}

.projects-container {
  width: 75%;
  margin: 0 auto;
}

.projects-section {
  padding-top: 40px;
  min-height: 100dvh;
  background: var(--bg-projects);
  scroll-margin-top: 10px;
  transition: background-color .4s ease;
}

.about-section {
  background: var(--bg-primary);
  padding-top: 60px;
  scroll-margin-top: -5px;
  transition: background-color .4s ease;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 75%;
  margin: 80px auto 80px auto
}

.about-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.about-description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 30px;
}

.skills-section {
  background: var(--bg-secondary);
  min-height: 100dvh;
  transition: background-color .4s ease;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  width: 75%;
}

.contact-section {
  background: var(--bg-primary);
  height: auto;
  transition: background-color .4s ease;
}

.contact-container {
  width: 75%;
  margin: 100px auto 100px auto;
}

.title-backdrop {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.title-backdrop::before {
  content: attr(data-text);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 80px;
  font-weight: 900;
  white-space: nowrap;
  z-index: -1;
  pointer-events: none;
  background: var(--title-backdrop);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-backdrop h2 {
  color: var(--text-primary);
  font-size: 48px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  transition: color .4s ease;
}

.section-description {
  margin: 0 auto;
  color: var(--text-secondary);
  text-align: center;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}

.footer {
  border-top: 1px solid rgb(63, 63, 63);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.btn-footer {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.buttons-container-footer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator img {
  width: 18px;
  height: 18px;
}

.creator span {
  color: var(--text-secondary);
  margin-left: 20px;
  font-size: 14px;
}

.social-links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.social-links-footer a {
  padding: 5px;
}

.social-links-footer a i svg {
  color: var(--text-secondary);
  width: 24px;
  height: 24px;
  transition: all .3s ease;
}

.social-links-footer a:hover i svg {
  color: var(--text-primary);
}

@media (max-width: 1800px) {
  .index-container {
    width: 90%;
  }

  .projects-section-container {
    width: 90%;
  }
}