.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px 0;
}

.slider-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: fit-content;
}

.slider-container:hover .slider-track {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-1 * var(--shift, 0px)));
  }
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  transition: all 0.3s ease;
  color: var(--text-secondary);
}

.tech-card:hover {
  transform: translateY(-5px);
}

.tech-card:hover .tech-icon {
  color: var(--text-primary);
}

@media (max-width: 768px) {
  .tech-card {
    margin-right: 80px;
  }

  .tech-card svg {
    width: 26px;
    height: 26px;
  }
}